html {
  height: 100%;
}
body {
  background-color: black;
  color: white;
}

body,
#root,
main {
  margin: 0;
  padding: 0;
}

main {
  position: relative;
}

.main-video {
  pointer-events: none;
  z-index: 0;
}

.buttons {
}

.button {
  position: absolute;
  opacity: 1;
  z-index: 10;
  display: block;

  background: rgba(145, 145, 255, 0.4);
}

.button img {
  max-width: 100%;
  outline: 1px solid blue;
}

.button--visible {
  opacity: 1;
}

.main-video video {
  pointer-events: none;
}
