@import url('https://fonts.googleapis.com/css?family=Muli:400,800&display=swap');

html {
  height: 100%;
  font-family: 'Muli', sans-serif;
}

body {
  background-color: black;
  color: white;
}

* {
  box-sizing: border-box;
}

body,
#root,
main {
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  overflow: hidden;
}

main.playing {
  overflow: scroll;
}

/**
 * Main wrapper & sizing 
 */

.main-wrapper {
  position: relative;
  width: 100%;
}

@media screen and (max-aspect-ratio: 16/9) {
  .main-wrapper.main-wrapper--padding {
    width: 177.7vh;
  }
}

@media screen and (min-aspect-ratio: 16/9) {
  .main-wrapper.main-wrapper--padding {
    width: 100%;
    height: 56vw;
  }
}

.main-video video {
  pointer-events: none;
  object-fit: cover;
  z-index: 0;
}

/**
 * Play Button & Video Visiblity
 */

.video-wrapper {
  background-size: cover;
}

.buttons,
.video-wrapper .main-video {
  opacity: 0;
  pointer-events: none;
}

.play-button {
  cursor: pointer;
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  background-color: black;
  border-width: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button img {
  max-width: 100%;
}

main .play-button {
  opacity: 1;
  pointer-events: initial;
}

.play-button.loading {
  opacity: 0.5;
}

.play-button.playing {
  opacity: 0;
  pointer-events: none;
}

main.ready.playing .buttons,
main.ready.playing .video-wrapper .main-video {
  opacity: 1;
  pointer-events: initial;
}

/**
 * Buttons
 */

.buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.button {
  position: absolute;
  opacity: 1;
  z-index: 10;
  display: block;
  transform: translate(-50%, -50%);
}

.timeDisplay {
  display: none;
}

.debug .button {
  background-color: rgba(255, 0, 0, 0.2);
  outline: 1px solid red;
}

.debug .timeDisplay {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  padding: 2px 4px;
  transform: translateX(-50%);
  color: black;
  background-color: white;
  font-family: monospace;
}

.button img {
  max-width: 100%;
}

.button--visible {
  opacity: 1;
}
