html {
  height: 100%;
}
body {
  background-color: black;
  color: white;
}

body,
#root,
main {
  margin: 0;
  padding: 0;
}

main {
  position: relative;
}

.main-wrapper {
  position: relative;
}

@media screen and (max-aspect-ratio: 16/9) {
  .main-wrapper.main-wrapper--padding {
    width: 177.7vh;
  }
}

@media screen and (min-aspect-ratio: 16/9) {
  .main-wrapper.main-wrapper--padding {
    width: 100%;
    height: 56vw;
  }
}

.main-video video {
  pointer-events: none;
  z-index: 0;

  pointer-events: none;
  object-fit: cover;
}

.buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button {
  position: absolute;
  opacity: 1;
  z-index: 10;
  display: block;
  transform: translate(-50%, -50%);
  background: rgba(145, 145, 255, 0.4);
}

.button img {
  max-width: 100%;
  outline: 1px solid blue;
}

.button--visible {
  opacity: 1;
}
